################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClassOfTeachers/.vs/ClassOfTeachersProgram/v15/Server/sqlite3
